nav a{
    text-decoration:none;
    color: azure;
    text-align: center;
    padding: 20px;
    float: left;
}
nav{
    background-color: black;
    overflow: hidden;
}
nav a:hover{
    color:tomato;
}
nav a:visited{
    color:rebeccapurple;
}
footer a{
    text-decoration: none;
    color:white;
    text-align: center;
    padding: 20px;
    float: left;
}
footer{
    background-color: black;
    overflow: hidden;
}
footer a:hover{
    color:red;
}
footer a:visited{
    color:palevioletred;
}