/* fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

body{
    background-color: rgb(232,238,238);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      /* for vertically center*/
    margin-top: 20px;
}

.input-container{
    width:100%;
    max-width: 500px;
    text-align:center;
    padding: 20px;
}

.input-container input{
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;    /*top bottom se margin mil jaygii*/
    border-radius: 4px;
    font-size: 16px;
}

.input-container input[type ="text"]{
    width: 70%;
}
.input-container input[type = "button"]{
    background-color: #3da33d;
    color: #fff;
    font-weight: 700;
    margin-left: 8px;
    cursor: pointer;
    padding: 12px 24px;
}
.input-container input[type = "button"]:hover{
    background-color: #60b160;
}

.todolist{
    width: 100%;
    max-width: 450px;
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;*/
}
li{
    list-style-type: none;
    cursor:pointer ;
    margin-block-end: 12px;
    border-radius: 8px;
    border: 0.125px solid #a19f9f;
    padding: 6px 12px ;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s;
}

li:hover{
    background-color: #cbcaca;
}
li p {
    flex-grow: 1;
    padding: 2px;
}
.btn{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
}
.deleteBtn{
    color: #ff0000;
}
.editBtn{
    color: #008000;
}
