*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #0073e6;

}

.container{
    background-color: azure;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}
form{
    margin: 2rem 0 1rem;
}
form select ,button, input{
    width: 100%;
border: none;
outline: none;
border-radius: 0.75rem;

}

form input{
    border: 1px solid lightslategray;
    font-size: 1rem;
height: 3rem;
padding-left: 0.5rem;
}

.dropdown{
    display:flex;
    justify-content: space-between;
align-items: center;
margin-top: 2rem;

}
.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img{
max-width: 1.75rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    /*background-color: rgb(229, 154, 69);*/
    border-radius: 0.5rem;
    border: 1px solid lightslategray;

}

.select-container select {
    font-size: 1rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0 ;
}
form button{
    height: 3rem;
    background-color: #80dfff;
    color: aliceblue;
    border-radius: 1rem;
    border:1px solid lightslategray;
cursor: pointer;
}
form button:hover{
    box-shadow:10px 5px 5px #0073e6;
}
@media screen and (max-width: 600px) {
    body{
    background-color:#8080ff;
    height: 100%;

    }
    .container{
        height: 40%;
        width: 50%;
    }
.select-container{
    width: 100%;
    display: grid;
}
button{
    background-color: antiquewhite;
    width: 40%;
}
input{
    width: 40%;
    background-color:azure ;
}
}