*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width:100vw ;

}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(105, 105, 164);
    display: grid;
    padding: 3rem;
    row-gap: 1rem;
    column-gap: 1rem;
   grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(12,1fr);
}
.item{
    background-color: aquamarine;
    border: 5px solid black;
    color:black;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1rem;
}
/*.firstbar{
    grid-row-start: 1;
    grid-row-end: 13;
}
.secoundbar{
    grid-row-start: 1;
     grid-row-end: 7;
}
.thirdbar{
    grid-row-start: 7;
    grid-row-end: 13;
}
.fourth{
    grid-row-start: 1;
    grid-row-end: 5;
}
.fifth{
    grid-row-start: 5;
    grid-row-end: 9;
}
.sixth{
    grid-row-start: 9;
    grid-row-end: 13;
}
.seventh{
    grid-row-start: 1;
    grid-row-end: 4;
}
.eighth{
    grid-row-start: 4;
    grid-row-end: 7;
}
.nineth{
    grid-row-start: 7;
    grid-row-end: 10;
}
.tenth{
    grid-row-start: 10;
    grid-row-end: 13;
}
.eleven{
    grid-row-start: 1;
    grid-row-end: 3;
}
.twelve{
    grid-row-start: 3;
    grid-row-end: 5;
}
.thirteen{
    grid-row-start: 5;
    grid-row-end: 7;
}
.fourteen{
    grid-row-start: 7;
    grid-row-end: 9;
}
.fifteen{
    grid-row-start: 9;
    grid-row-end: 11;
}
.sixteen{
    grid-row-start: 11;
    grid-row-end: 13;
}*/
@media (min-width:768px) {

    .firstbar{
        grid-row-start: 1;
        grid-row-end: 13;
    }
    .secoundbar{
        grid-row-start: 1;
         grid-row-end: 7;
    }
    .thirdbar{
        grid-row-start: 7;
        grid-row-end: 13;
    }
    .fourth{
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .fifth{
        grid-row-start: 5;
        grid-row-end: 9;
    }
    .sixth{
        grid-row-start: 9;
        grid-row-end: 13;
    }
    .seventh{
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .eighth{
        grid-row-start: 4;
        grid-row-end: 7;
    }
    .nineth{
        grid-row-start: 7;
        grid-row-end: 10;
    }
    .tenth{
        grid-row-start: 10;
        grid-row-end: 13;
    }
    .eleven{
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .twelve{
        grid-row-start: 3;
        grid-row-end: 5;
    }
    .thirteen{
        grid-row-start: 5;
        grid-row-end: 7;
    }
    .fourteen{
        grid-row-start: 7;
        grid-row-end: 9;
    }
    .fifteen{
        grid-row-start: 9;
        grid-row-end: 11;
    }
    .sixteen{
        grid-row-start: 11;
        grid-row-end: 13;
    }
    
    
}